<!-- home.component.html -->
<div class="container">
  <header class="text-center my-5">
    <h1>Fernando Moreno</h1>
    <p class="lead">Desarrollador Web</p>
  </header>

  <div class="row align-items-start"> <!-- Cambié align-items-center por align-items-start -->
    <!-- Imagen circular a la izquierda -->
    <div class="col-md-4 text-center">
      <img src="/Fernando.jpg" alt="Fernando Moreno" class="img-fluid rounded-circle" width="200">
    </div>

    <!-- Resumen a la derecha -->
    <div class="col-md-8">
      <p class="lead">
        Soy un desarrollador Front-End apasionado por la creación de experiencias web interactivas y dinámicas.
        Con experiencia en HTML, CSS, JavaScript y Angular, me dedico a transformar diseños en aplicaciones funcionales,
        optimizadas y visualmente atractivas. También tengo experiencia en el desarrollo de modelos 3D, lo que me permite
        integrar elementos visuales únicos a mis proyectos web. Mi enfoque siempre está en la creación de interfaces
        de usuario amigables y accesibles, asegurando que cada proyecto sea una solución eficaz a las necesidades del cliente.
      </p>
    </div>
  </div>
</div>
